<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col">
                $body$
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <h4> Notes </h4>
                <ul>
                    $for(notes)$
                    <li> <a href="$url$">$title$</a></li>
                    $endfor$
                </ul>
            </div>
        </div> 
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col">
                <h4> Updates </h4>
                $partial("templates/update-list.html")$
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                 <a href="$updates-url$"> (more..) </a>
            </div>
        </div>

    </div>
</div>

